.aboutMain {
    display: flex;
    // height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.aboutLeftMain {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.aboutRightMain {
    flex: 0.5;
    width: 100%; 
    min-height: 100%;
    position: relative;
}

.fullName {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;

    /* identical to box height, or 162% */
    letter-spacing: 1.5px;

    color: #5E3BEE;
    text-align: left;
}
.aboutDescription {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    
    /* or 200% */
    text-align: left;
    letter-spacing: 0.5px;
    margin-top: 15px;
    color: rgba(18, 18, 18, 0.7);
}

.welcomeMessage {
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    /* or 130% */

    color: #333333;
}
.softwareEngineerText {
    font-family: 'Caveat', cursive;
    color: #5E3BEE;
    font-size: 40px;
    margin-right: 5px;
}

.hireMeButton {
    background: #5E3BEE;
    border-radius: 50px;
    border: 0px !important;
}

.hireMeButtonText {
    
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 27px;

/* identical to box height */
letter-spacing: 0.5px;

color: #FFFFFF;
margin: 0px !important;
}

.cvButton {
    padding-right: 5px;
}

.bulletButton {
    color: #5E3BEE;
}

.bulletText {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    
    /* or 200% */
    text-align: left;
    margin-left: 12px;
    color: rgba(18, 18, 18, 0.7);
    margin-bottom: 8px;
}
.techMain {
    display: flex;
    flex-wrap: wrap;
}
.techHeading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;

    /* identical to box height, or 162% */
    letter-spacing: 1.5px;

    color: #5E3BEE;
    text-align: left;
}
.eduHeading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;

    /* identical to box height, or 162% */
    letter-spacing: 1.5px;

    color: #5E3BEE;
    text-align: left;
    margin-top: 10px;
}