@import "./theme.module.scss";
.heroMain {
    display: flex;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 70px;

    // Responsive Design
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $S) {
        flex-direction: column;
    }
}
.heroLeftMain {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    // Responsive Design

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $S) {
        align-items: center;
    }

}

.heroRightMain {
    flex: 1;
    width: 80%; 
    min-height: 550px;
    position: relative;
    justify-content:center;
    align-items: center;
    // Responsive Design

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $S) {
        min-height: 300px;
        width: 100%; 
    }

}

.fullName {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;

    /* identical to box height, or 162% */
    letter-spacing: 1.5px;

    color: $primary-purple;
    text-align: left;
   
    // Responsive Design

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $S) {
        text-align: center;
    }
}

.welcomeMessage {
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 66px;

    /* or 130% */

    color: #333333;
    // Responsive Design

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $S) {
        text-align: center;
    }
}
.softwareEngineerText {
    font-family: 'Caveat', cursive;
    color: $primary-purple;
    font-size: 70px;
}

.hireMeButton {
    background: $primary-purple;
    border-radius: 50px;
    border: 0px !important;
}

.hireMeButtonText {
    
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 27px;

/* identical to box height */
letter-spacing: 0.5px;

color: #FFFFFF;
margin: 0px !important;
}

.cvButton {
    padding-left: 5px;
}

