@import "./theme.module.scss";

.navbarMain{
    background-color: $primary-bg;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.02), 0 2px 6px rgba(0,0,0,0.04);
}
.logoWrapper {
    display: flex !important;
}
.customFont {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.5px;
    color: #000000;
    cursor: pointer;
}
.collapse {
    justify-content: space-between;
}

.hireMeButton {
    background: $primary-purple;
    border-radius: 50px;
    border: 0px !important;
}

.hireMeButtonText {
    
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;

/* identical to box height */
letter-spacing: 0.5px;

color: $primary-white;
margin: 0px !important;
}
.navbarItem {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

  
  .navbarItem a {
    transition: 0.3s ease;
    font-size: 12px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 10px 0;
    margin: 0 5px;
  }
  .navbarItem a:hover {
    border-top: 2px solid $primary-purple;
    border-bottom: 2px solid $primary-purple;
    padding: 2px 0; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
