@import "./theme.module.scss";
.statsMain {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    background-color: $primary-white;
    margin-top: 45px;
    // box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.12);
        // border-radius: 10px;
}
.statItemWrapper {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.statItemAmount {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 36px;
    
    /* identical to box height, or 117% */
    text-align: center;
    letter-spacing: 0.5px;
    
    color: #000000;
    margin: 0px;

}

.statItemTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.5px;

    color: rgba(18, 18, 18, 0.7);
    margin: 0px;

}