@import "./theme.module.scss";
.TestamonialsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    // Responsive Design

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $S) {
        align-items: center;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
}
.TestamonialsTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    
    /* identical to box height, or 162% */
    letter-spacing: 1.5px;
    
    color: $primary-purple;
}
.TestamonialsSubtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 36px;
    
    /* identical to box height, or 127% */
    letter-spacing: 0.005em;
    
    color: #000000;
}
.TestamonialsDescription {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    
    /* or 200% */
    text-align: center;
    letter-spacing: 0.5px;
    
    color: rgba(18, 18, 18, 0.7);
}
.TestamonialsCardMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.statItemWrapper {
    width: 20%;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin: 20px;
    background: #F9F9FC;
    box-shadow: 37px 37px 80px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 20px;
    border: 0px;
     // Responsive Design
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $S) {
        width: 100%;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: $S) {
        width: 40%;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: $M) {
        width: 40%;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $L) {
        width: 20%;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: $XL) {
        width: 20%;
    } 
}
.statItemAmount {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    /* or 144% */
    letter-spacing: 0.5px;
    margin-top: 6px;
    color: #000000;
}
.feedbackBottomWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.profileImageWrapper {
    display: flex;
}
.profileName {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;

    /* identical to box height, or 178% */
    letter-spacing: 0.5px;

    color: #000000;
    margin-bottom: 0px;
}
.designation {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 16px;

    /* identical to box height, or 150% */
    letter-spacing: 0.5px;

    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}
.nameDesignationWrapper {
    margin-left: 8px;
}
.profileImageWrapper {
    display: flex;
    align-items: center;
}
.chatImageWrapper {
    display: flex;
    align-items: center;
}